h1{
    font-size: 1.5em;
    font-family: sans-serif;
    color: #333;
    }
h2 {
    font-family: sans-serif;
    color: #666;
    font-size: 1em;
}
html {
        color: #111;
}
.resistor {
background: linear-gradient(
  to bottom,
  #fff,
  #fff 45%,
  #000 55%,
  #000,
  #fff 55%,
  #fff
);
/* The rectangle in which to repeat. 
   It can be fully wide in this case */
background-size: 100% 100%;
    }
.band{
    width: 70px;
    float: left;
    padding: 10px;
    }
.band div{
    padding: 5px;
    text-align: center;
    }
.black{
    background-color: black;
    color: white;
    }
.brown{
    background-color: brown;
    }
.red{
    background-color: red;
    }
.orange{
    background-color: orange;
    }
.yellow{
    background-color: yellow;
    }
.green{
    background-color: green;
    }
.blue{
    background-color: blue;
    }
.violet{
    background-color: violet;
    }
.grey{
    background-color: gray;
    }
.white{
    background-color: white;
    }
.gold{
    background-color: gold;
    }
.silver{
    background-color: silver;
            }
.none{
    background-color: #ddd;
            }
#picker{
    margin: 0 auto;
    width: 360px;
            }
#render {
    background-color: tan;
    width: 80%;
    height: 60px;
    border-radius: 25px;
    margin: 0 auto;

    background: linear-gradient( to bottom, #fff, tan 20%, tan 90%, #000);
    background-size: 100%;
    }

#b1, #b2, #b3, #b4 {
    height: 100%;
    width: 20px;
    background: linear-gradient( to bottom, #fff, black 20%, black 90%, #000);
    background-size: 100%;
    display: inline-block;
    margin: 0 5px;
    background-size: 100%;
    }
#b1 {
    margin-left: 35px;
    }
#b4 {
    margin-left: 50px;
    }
#output {
    clear: both;
    }